<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.agh.robert_kraut_cz_8">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Robert_Kraut_cz_8">
        <activity
            android:name=".view.CurrencyViewListActivity"
            android:label="@string/title_currencyview_list"
            android:theme="@style/Theme.Robert_Kraut_cz_8.NoActionBar" />
        <activity
            android:name=".view.CurrencyViewDetailActivity"
            android:label="@string/title_currencyview_detail"
            android:parentActivityName=".view.CurrencyViewListActivity"
            android:theme="@style/Theme.Robert_Kraut_cz_8.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.agh.robert_kraut_cz_8.view.CurrencyViewListActivity" />
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>